<html>
<head>
	<title>I'm feeling Semi-Restful</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2>Add a New User</h2>
				<p>Don't read this shit.  Why are you still reading this shit after I told you not to repeatedly?</p>
				<form role="form" action="/adduser" method="POST">        
					<div class="form-group">
					  <label for="user">Full Name:</label>
					  <input type="text" class="form-control" name="name">
					  <label for="pwd">Email:</label>
					  <input type="text" class="form-control" name="email"><br>
					<button type="submit" class="btn btn-default">Add User</button>
				</form><hr>
				<a href="/back">Go Back</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>